---
layout: default
title: Chapter III (Roche)
nav_order: 8
permalink: /chapter-3-roche/
has_children: true
has_toc: false
nav_exclude: true
---

<header>
   <h1>CHAPTER III (ROCHE)</h1>
</header>

<section id="contents">
<h2>CONTENTS</h2>
<div id="toc-prologue">
   <ol>
      <li class="sekrit">TUTORIAL</li>
      <li class="sekrit">PROLOGUE</li>
      <li class="sekrit">chapter I</li>
      <li class="sekrit">chapter II iorveth</li>
      <li class="sekrit">chapter II roche</li>
      <li class="sekrit">chapter III iorveth</li>
      <li>
         <a href="https://laurelnose.github.io/chapter-3-roche/" class="tocheading">CHAPTER III (ROCHE)</a>
         {% include ch3r_toc.html %}
      </li>
   <ol>
</div>
</section>

<hr>
{% include wip.html %}
