---
layout: default
title: Chapter II (Iorveth)
nav_order: 5
permalink: /chapter-2-Iorveth/
has_children: true
has_toc: false
nav_exclude: true
last_modified_date: 2021-03-15 19:20:00 -0800
---
<!--TAKE OUT NAV EXCLUDE WHEN FINISHED-->
<header>
   <h1>CHAPTER II (IORVETH)</h1>
</header>

<section id="contents">
<h2>CONTENTS</h2>
<div id="toc-prologue">
   <ol>
      <li class="sekrit">TUTORIAL</li>
      <li class="sekrit">PROLOGUE</li>
      <li class="sekrit">chapter I</li>
      <li>
         <a href="https://laurelnose.github.io/chapter-2-iorveth/" class="tocheading">CHAPTER II (IORVETH)</a>
         {% include ch2i_toc.html %}
      </li>
   <ol>
</div>
</section>

<hr>
{% include wip.html %}
