---
layout: default
title: Chapter II (Roche)
nav_order: 6
permalink: /chapter-2-roche/
has_children: true
nav_exclude: true
has_toc: false
---

<header>
   <h1>CHAPTER II (ROCHE)</h1>
</header>

<section id="contents">
<h2>CONTENTS</h2>
<div id="toc-prologue">
   <ol>
      <li class="sekrit">TUTORIAL</li>
      <li class="sekrit">PROLOGUE</li>
      <li class="sekrit">chapter I</li>
      <li class="sekrit">chapter ii iorveth</li>
      <li>
         <a href="https://laurelnose.github.io/chapter-2-roche/" class="tocheading">CHAPTER II (ROCHE)</a>
         {% include ch2r_toc.html %}
      </li>
   <ol>
</div>
</section>

<hr>
{% include wip.html %}
