---
layout: default
title: Sidequests
parent: Chapter II (Iorveth)
nav_order: 1
last_modified_date: 2021-03-15 19:20:00 -0800
---
<header>
   <h1>CHAPTER II (IORVETH) - SIDEQUESTS</h1>
</header>

<section id="contents">
<h2>Contents</h2>
<div id="toc-prologue">
<ol>
      <li class="sekrit">can'tseeme</li>
      <li class="sekrit">Prologue</li>
      <li class="sekrit">Chapter 1</li>
      <li>Chapter II (Iorveth) - Sidequests
         {% include ch2i_toc_sq.html %}
      </li>
   </ol>
</div>
</section>
{% include wip.html %}
