---
layout: default
title: Sidequests
nav_order: 1
permalink: /chapter-3-iorveth-sidequests/
parent: Chapter III (Iorveth)
last_modified_date: 2021-03-15 19:20:00 -0800
---

<header>
   <h1>CHAPTER III (IORVETH) - SIDEQUESTS</h1>
</header>

<section id="contents">
<h2>CONTENTS</h2>
<div id="toc-prologue">
   <ol>
      <li class="sekrit">TUTORIAL</li>
      <li class="sekrit">PROLOGUE</li>
      <li class="sekrit">chapter I</li>
      <li class="sekrit"> chapter ii i</li>
      <li class="sekrit"> chapter ii r</li>
      <li>
         Chapter III (Iorveth) - Sidequests
         {% include ch3i_toc_sq.html %}
      </li>
   <ol>
</div>
</section>
{% include wip.html %}
