---
layout: default
title: Sidequests
parent: Chapter II (Roche)
nav_order: 1
---
<header>
   <h1>CHAPTER II (ROCHE) - SIDEQUESTS</h1>
</header>

<section id="contents">
<h2>Contents</h2>
<div id="toc-prologue">
<ol>
      <li class="sekrit">TUTORIAL</li>
      <li class="sekrit">PROLOGUE</li>
      <li class="sekrit">chapter I</li>
      <li class="sekrit">chapter ii iorveth</li>
      <li>Chapter II (Roche) - Sidequests
         {% include ch2r_toc_sq.html %}
      </li>
   </ol>
</div>
</section>
{% include wip.html %}
