---
layout: default
title: Chapter III (Iorveth)
nav_order: 7
permalink: /chapter-3-iorveth/
has_children: true
has_toc: false
nav_exclude: true
---

<header>
   <h1>CHAPTER III (IORVETH)</h1>
</header>

<section id="contents">
<h2>CONTENTS</h2>
<div id="toc-prologue">
   <ol>
      <li class="sekrit">TUTORIAL</li>
      <li class="sekrit">PROLOGUE</li>
      <li class="sekrit">chapter I</li>
      <li class="sekrit"> chapter ii i</li>
      <li class="sekrit"> chapter ii r</li>
      <li>
         <a href="https://laurelnose.github.io/chapter-3-iorveth/" class="tocheading">CHAPTER III (IORVETH)</a>
         {% include ch3i_toc.html %}
      </li>
   <ol>
</div>
</section>

<hr>
{% include wip.html %}
