@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import "tableofcontents.scss";

body {
   font-family: "Open Sans", Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

@media (min-width: 31.25rem) {
.site-title {
    font-size: 21px !important;
    line-height: 1.25;
}
.site-footer {
   display: block;
}
html {
   scroll-behavior: auto;
}
footer {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding-left: 1.5em;
}

header {
   /*display: flex;
   justify-content: space-between;
   align-items: baseline;*/
   text-align: center;
   border-bottom: 2pt solid #eeebee;
   padding-bottom: .5em;
   margin-bottom: 1em;
/*   border-top: 4pt double;
   padding-top: .5em;
   margin-top: 1em;*/
}

.main-content h1:first-of-type {
   margin: 0;
}

.main-content a {
   text-decoration: none;
}

.h1-chapters {
/*   font-size: 1.6em;*/
   font-weight: bold;
   margin: 0;
   padding: 0;
   line-height: normal;
   text-align: center;
}

h2 {
/*   font-size: 1.15em;
   font-weight: bold;
   margin: 0;*/
   text-indent:-2em;
   padding-left:2em;
   text-transform:uppercase;
}

h3 {
   font-weight: bold;
   font-size: 1.1em;
   margin: 0;
   text-indent:-2em;
   padding-left:2em;
   text-transform:uppercase;
}

hr {
   margin-bottom: 1.2em;
}

.fail {
   color: #b83232 !important;
   font-size: .9em !important;
   margin-top: 0 !important;
}

.succ {
   color: #4ea24c !important;
   font-size: .9em !important;
   margin-top: 0 !important;
}

.subsectionhead {

border-top: 2pt solid #eeebee;
 border-bottom: 2pt solid #eeebee;
   padding: .1em; /*
   margin-bottom: 1em;
*/
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.middle {
   width: 60%;
   margin-left: auto;
   margin-right: auto;
}

.sectionhead {
 border-top: 2pt solid #eeebee;
  border-bottom: 2pt solid #eeebee; /*
  padding: .5em;
  margin-bottom: 1em;
*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .sectiontitle {
   /* text-transform: uppercase;
    font-size: 1.15em;
    font-weight: bold;
    line-height:1.3em;*/
    margin-right: 1em;
  }
  .sectionnav {
    font-size: 0.8em;
    flex-shrink: 0;
  }
  .indent {
    margin-left: 2em !important;
    }
  .choice {
    padding-left: 0 !important;
    margin-left: 0 !important;
    text-indent: 0 !important;
    margin-bottom: .8em !important;
    margin-top: 0 !important;
    font-weight: 600 !important;
    }
  .choice span {
     border-bottom: 0.1em solid !important;
     padding-bottom: 0.2em !important;
 }
  .stage {
    font-style: italic !important;
    padding-left:1em !important;
    text-indent: -1em !important;
    }

  .dialogue {
    padding-left: 2.5em !important;
    text-indent: -2.5em !important;
    margin-bottom: 1.3em !important;
    }
  .dialogue p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    }
  .tag {
    font-weight: bold !important;
    }

a, a:visited {
   text-decoration: none;
   color: #6b3013;
}

a:hover {
   border-bottom: none;
   color:#be0d00;
}
.changelog {
  padding-left: 6em !important;
  text-indent: -6em !important;
  margin-bottom: 1.3em !important;
  }


/*
ol {
 list-style-type:decimal-leading-zero;
 counter-reset: counter 0;
 margin-left: 0;
}


ol ol { margin-left: 1em; }

ol ol ol { margin-left: 1.5em; }

ol li { counter-increment: counter; padding: 0 0 0 .7em; }

ol li::marker { content: counters(counter, ".") " ."; font-weight: bold; }

.lispace { margin-bottom: 1em; }

ol a { border-bottom: none; }
*/

.tocheading {
   font-weight: bold;
   margin-bottom: 0;
}

blockquote {
   background-color: #f5f6fa;
   padding-left: 2em;
   padding-right: 2em;
   padding-top: .5em;
   padding-bottom: .5em;
}

#decimalcontents {
ol {
  list-style-type: none;
  counter-reset: step-counter;
  margin-top: 0;

  > li {
    position: relative;
    color: gray;
    margin-left: 2em;
    text-decoration: none;

    &::before {
      position: relative;
      top: 0.2em;
      left: -1.6em;
      color: gray;
      content: counters(step-counter, ".", decimal) " ";
      counter-increment: step-counter;
      @include fs-3;

      @include mq(sm) {
        top: 0.11em;
      }
    }
    }
  }
  ol ol { margin-left: 1em; }
  ol li { font-size: .95em; margin-top: 0; margin-bottom: 0;}
}
}

.sekrit {
   line-height: 1px !important;
   margin: 0;
   padding: 0;
   visibility: hidden;
}
.sekrit ::before{
   line-height:1px;
}

.tocheading {
   font-weight: bold;
   margin-bottom: 0;
}

#toc-prologue {
   margin-left: -1.5em;
   ol {
      list-style-type: none;
      margin-top: 0;
      counter-reset: prologue 0;

      > li {
       position: relative;
       color: gray;
       margin-left: 2.3em;
       line-height: 1.2em;
       text-decoration: none;

       &:before {
         position: relative;
         top: auto;
         left: -.5em;
         color: gray;
         content: counters(prologue, ".", decimal-leading-zero) " ";
         counter-increment: prologue;
       }
    }
}
}

#toc-chapter1 {
   margin-left: -1.5em;
   ol {
      list-style-type: none;
      margin-top: 0;
      counter-reset: chapter1;

      > li {
       position: relative;
       color: gray;
       margin-left: 3em;
       line-height: 1.2em;

       &:before {
         position: relative;
         top: auto;
         left: -1.6em;
         color: gray;
         content: counters(chapter1, ".", decimal-leading-zero) " ";
         counter-increment: chapter1;
       }
    }
}
}

@media (max-width: 1024px) {
   .fail {
      color: #b83232 !important;
      font-size: .9em !important;
      margin-top: 0 !important;
   }

   .succ {
      color: #4ea24c !important;
      font-size: .9em !important;
      margin-top: 0 !important;
   }

   .subsectionhead {

   border-top: 2pt solid #eeebee;
    border-bottom: 2pt solid #eeebee;
      padding: .1em; /*
      margin-bottom: 1em;
   */
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .middle {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
   }

   .sectionhead {
    border-top: 2pt solid #eeebee;
     border-bottom: 2pt solid #eeebee; /*
     padding: .5em;
     margin-bottom: 1em;
   */
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
     .sectiontitle {
      /* text-transform: uppercase;
       font-size: 1.15em;
       font-weight: bold;
       line-height:1.3em;*/
       margin-right: 1em;
     }
     .sectionnav {
       font-size: 0.8em;
       flex-shrink: 0;
     }
     .indent {
       margin-left: 2em !important;
       }
     .choice {
       padding-left: 0 !important;
       margin-left: 0 !important;
       text-indent: 0 !important;
       margin-bottom: .8em !important;
       margin-top: 0 !important;
       font-weight: 600 !important;
       }
     .choice span {
        border-bottom: 0.1em solid !important;
        padding-bottom: 0.2em !important;
    }
     .stage {
       font-style: italic !important;
       padding-left:1em !important;
       text-indent: -1em !important;
       }

     .dialogue {
       padding-left: 2.5em !important;
       text-indent: -2.5em !important;
       margin-bottom: 1.3em !important;
       }
     .dialogue p {
       margin-bottom: 0 !important;
       margin-top: 0 !important;
       }
     .tag {
       font-weight: bold !important;
       }

#decimalcontents {
       ol {
         list-style-type: none;
         counter-reset: step-counter;
         margin-top: 0;

         > li {
           position: relative;
           color: gray;
           margin-left: 2em;

           &::before {
             position: relative;
             top: 0.2em;
             left: -1.6em;
             color: gray;
             content: counters(step-counter, ".", decimal) " ";
             counter-increment: step-counter;
             @include fs-3;

             @include mq(sm) {
               top: 0.11em;
             }
           }
           }
         }
         ol ol { margin-left: 1em; }
         ol li { font-size: .95em; margin-top: 0; margin-bottom: 0;}
       }
       .sekrit {
          line-height: 1px !important;
          margin: 0;
          padding: 0;
          visibility: hidden;
       }
       .sekrit ::before{
          line-height:1px;
       }

       .tocheading {
          font-weight: bold;
          margin-bottom: 0;
       }

       #toc-prologue {
          margin-left: -1.5em;
          ol {
             list-style-type: none;
             margin-top: 0;
             counter-reset: prologue 0;

             > li {
              position: relative;
              color: gray;
              margin-left: 2.3em;
              line-height: 1.2em;
              text-decoration: none;

              &:before {
                position: relative;
                top: auto;
                left: -.5em;
                color: gray;
                content: counters(prologue, ".", decimal-leading-zero) " ";
                counter-increment: prologue;
              }
           }
       }
       }

       #toc-chapter1 {
          margin-left: -1.5em;
          ol {
             list-style-type: none;
             margin-top: 0;
             counter-reset: chapter1;

             > li {
              position: relative;
              color: gray;
              margin-left: 3em;
              line-height: 1.2em;

              &:before {
                position: relative;
                top: auto;
                left: -1.6em;
                color: gray;
                content: counters(chapter1, ".", decimal-leading-zero) " ";
                counter-increment: chapter1;
              }
           }
       }
       }
    }
