<ol>
   <li><a href="/chapter-1-sidequests/#fightclub">Fight Club</a></li>
   <li><a href="/chapter-1-sidequests/#hungover">Hung Over</a></li>
   <li><a href="/chapter-1-sidequests/#madness">In the Claws of Madness</a></li>
   <li><a href="/chapter-1-sidequests/#malena">Malena</a></li>
   <li><a href="/chapter-1-sidequests/#anezka">Melitele's Heart</a></li>
   <li><a href="/chapter-1-sidequests/#mysticriver">Mystic River</a></li>
   <li><a href="/chapter-1-sidequests/#incense">The Scent of Incense</a>
      <ol><li><a href="/chapter-1-sidequests/#dreams">Little Shop of Dreams</a></li></ol>
   </li>
   <li><a href="/chapter-1-sidequests/#troll">Troll Trouble</a></li>
   <li><a href="/chapter-1-sidequests/#woetothevanquished">Woe Unto the Vanquished</a></li>
</ol>
