<ol>
   <li><a href="/chapter-1/#31">A Rough Landing</a></li>
   <li><a href="/chapter-1/#32">By the Gods - Stringing Up Sods</a></li>
   <li><a href="/chapter-1/#33">Kayran - A Matter of Price</a></li>
   <li><a href="/chapter-1/#34">Kayran - Cedric and the Shipwreck</a></li>
   <li><a href="/chapter-1/#35">An Indecent Proposal</a></li>
      <ol><li><a href="/chapter-1/#351">The Ballista</a></li></ol>
   <li>Killing the Kayran</li>
   <li>Visiting Ciaran</li>
   <li>The Rose of Remembrance</li>
   <li>Zoltan the Squirrel</li>
   <li>Confronting Letho</li>
   <li>Where is Triss Merigold? (Helped Iorveth)</li>
   <li>Where is Triss Merigold? (Helped Roche)
         <ol><li>Margot's Disappearance</li></ol>
   </li>
   <li>Cedric's Death</li>
   <li>At a Crossroads</li>
   <li>The Floating Prison (Iorveth)
         <ol>
            <li>Helped Iorveth in Cáelmewedd</li>
            <li>Helped Roche in Cáelmewedd</li>
         </ol>
   </li>
   <li>Death to the Traitor (Roche)
      <ol>
         <li>Helped Iorveth in Cáelmewedd</li>
         <li>Helped Roche in Cáelmewedd</li>
      </ol>
   </li>
   <li><a class="tocheading" href="/chapter-1-characters/">Character Dialogue</a></li>
   <li hidden><a class="tocheading" href="/chapter-1-overheard/">Overheard Dialogue</a></li>
   <li><a class="tocheading" href="/chapter-1-sidequests/">Sidequests</a>
      {% include ch1_toc_sq.html %}
   </li>
</ol>
