<ol>
   <li>Prelude to War: Kaedwen</li>
   <li>Dethmold's Blood Curse Briefing</li>
   <li>The Butcher of Cidaris</li>
   <li>In Cervisia Veritas</li>
   <li>Lost Lambs at Sabrina's Pyre</li>
   <li>Visiting the Visionary</li>
   <li>The Captured Elf</li>
   <li><a class="tocheading" href="/chapter-2-roche-characters/">Character Dialogue</a></li>
   <li><a class="tocheading" href="/chapter-2-roche-overheard/">Overheard Dialogue</a></li>
   <li><a class="tocheading" href="/chapter-2-roche-sidequests/">Sidequests</a>
      {% include ch2r_toc_sq.html %}
   </li>
</ol>
