<ol>
   <li><a href="/prologue/#21">Interrogation, part 1</a></li>
   <li><a href="/prologue/#22">By the King's Will</a></li>
   <li><a href="/prologue/#23">Newboy's Amulet (Melitele's Heart)</a></li>
   <li><a href="/prologue/#24">By the King's Will, Continued</a></li>
   <li><a href="/prologue/#25">At the Fore</a></li>
   <li><a href="/prologue/#26">Interrogation, part 2</a></li>
   <li><a href="/prologue/#27">Aryan La Valette (At the Fore)</a></li>
   <li><a href="/prologue/#28">Interrogation, part 3</a></li>
   <li><a href="/prologue/#29">Trial by Fire</a></li>
   <li><a href="/prologue/#210">Interrogation, part 4</a></li>
   <li>
      <a href="/prologue/#211">To the Temple</a>
      <ol>
         <li><a href="/prologue/#2111">Woe Unto the Vanquished</a></li>
      </ol>
   </li>
   <li><a href="/prologue/#212">Interrogation, part 5</a></li>
   <li><a href="/prologue/#213">Blood of His Blood</a></li>
   <li><a href="/prologue/#214">Interrogation, part 6</a></li>
   <li>
      <a href="/prologue/#215">Escaping the Dungeons</a>
      <ol>
         <li><a href="/prologue/#2151">Aryan La Valette: Alive</a></li>
         <li><a href="/prologue/#2152">Aryan La Valette: Dead</a></li>
      </ol>
   </li>
   <li><a href="/prologue/#216">The Riverboat</a></li>
   <li><a class="tocheading" href="/prologue-overheard/">Overheard Dialogue</a></li>
</ol>
