<div id="toc-prologue">
<ol>
<li>
   <a href="tutorial/" class="tocheading">TUTORIAL</a>
</li>
<li><!--PROLOGUE-->
   <a href="/prologue/" class="tocheading">PROLOGUE</a>
   {% include prlg.html %}
</li>
<li><!--CHAPTER 1-->
   <a href="/chapter-1/" class="tocheading">CHAPTER I</a>
   {% include ch1_toc.html %}
</li>
<li hidden><!--CHAPTER 2 I-->
   <a href="/chapter-2-iorveth/" class="tocheading">CHAPTER II (IORVETH'S PATH)</a>
   {% include ch2i_toc.html %}
</li>
<li><!--CHAPTER 2 R-->
   <a href="/chapter-2-roche/" class="tocheading">CHAPTER II (ROCHE'S PATH)</a>
   {% include ch2r_toc.html %}
</li>
<li hidden><!--CHAPTER 3 I-->
   <a href="/chapter-3-iorveth/" class="tocheading">CHAPTER III (IORVETH'S PATH)</a>
   {% include ch3i_toc.html %}
</li>
<li hidden><!--CHAPTER 3 R-->
   <a href="/chapter-3-roche/" class="tocheading">CHAPTER III (ROCHE'S PATH)</a>
   {% include ch3r_toc.html %}
</li>
<li hidden><!--EPILOGUE-->
   <a href="/epilogue/" class="tocheading">EPILOGUE</a>
   {% include epi_toc.html %}
</li>
</ol>
